.form-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 80%;
}

.item {
  width: 45%;
  margin: 5px 0;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-actions {
  margin: 20px 0;
}
.row-actions {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.row-actions button {
  margin: 0 10px;
}
